{% extends 'new_base.html' %}


{% block head_extra %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#courses-table tr").click(function(e) {
                e.stopPropagation();
                window.location = $(this).find("td.button a.btn").attr("href");
            })
        });
    </script>
{% endblock %}

{% block title %}My Courses - {% endblock %}


{% block content %}
<div id="content-col" class="span9 courses-content">
<h2>Explore our coached courses!</h2>

<!-- Course table -->
<table id='courses-table' class="table table-hover">
    <tr>
        <td class="thumb">
            <img class="thumbnail" src="/static/myselector/images/bigsandbox.jpeg">
        </td>
        <td class='course-text'>
            <nobr>Summer 2013</nobr><br/>
            <nobr>New Sandbox project (mts4)</nobr><br/>    
            <span class="label label-success">ACTIVE</span>
        </td>
        <td class="button"> 
            <a class="btn btn-large" href ="/mts4/">Enter Project</a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <img class="thumbnail" src="/static/myselector/images/sandbox.jpeg">
        </td>
        <td class='course-text'>
            <nobr>Spring 2013</nobr><br/>
            <nobr>Old Sandbox project (mts5)</nobr><br/>    
            <span class="label label-success">ACTIVE</span>
        </td>
        <td class="button"> 
            <a class="btn btn-large" href ="/mts5/">Enter Project</a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <img class="thumbnail" src="/static/myselector/images/physics4-crop.png">
        </td>
        <td class='course-text'>
            <nobr>Winter Term 2013</nobr><br/>
            <nobr>Physics 135, 235, 140, 240</nobr><br/>    
            <span class="label label-warning">RETIRED</span>
        </td>
        <td class="button"> 
            <a class="btn btn-large" href ="/w13physics/">Enter Archive</a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <img class="thumbnail" src="/static/myselector/images/physics2-crop.png">
        </td>
        <td class='course-text'>
            <nobr>Fall Term 2012</nobr><br/>
            <nobr>Physics 135, 235, 140, 240</nobr><br/>
            <span class="label label-warning">RETIRED</span>
        </td>
        <td class="button">
            <a class="btn btn-large" href ="/f12physics/">Enter Archive</a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <img class="thumbnail" src="/static/myselector/images/physics1-crop.jpg">
        </td>
        <td class='course-text'>
            <nobr>Spring Term 2012</nobr><br/>
            <nobr>Physics 135, 235, 140, 240</nobr><br/>
            <span class="label label-warning">RETIRED</span>
        </td>
        <td class="button">
            <a class="btn btn-large" href ="/s12physics/">Enter Archive</a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <img class="thumbnail" src="/static/myselector/images/physics3-crop.png">
        </td>
        <td class='course-text'>
            <nobr>Winter Term 2012</nobr><br/   >
            <nobr>Physics 135, 235, 140, 240</nobr><br/>
            <span class="label label-warning">RETIRED</span>
        </td>
        <td class="button">
             <a class="btn btn-large" href ="/w12physics/">Enter Archive</a>
        </td>
    </tr>
</table>
<!-- Course table -->
</div>

<div id="courses-info" class="span3">
    <div class="well">[PLACEHOLDER]<br/>
        <h5><i>E2Coach helps you succeed in your physics course by providing:</i></h5>
        <ul>
            <li>Expert advice</li>
            <li>Advice from students like you</li>
            <li>Stats from your class </li>
        </ul>
    </div>
{% endblock %}
