{% extends 'new_base.html' %}


{% block head_extra %}
<script type="text/javascript"> 
    $(document).ready(function() {
        $(".btn-show").click(function() {
            $(this).hide();
            $(".btn-hide").show();
        });
        $(".btn-hide").click(function() {
            $(this).hide();
            $(".btn-show").show();
        })
    });
</script>

{% endblock %}

{% block title %}My Courses - {% endblock %}


{% block content %}
<div id="content-col" class="span9 courses-content">
<h2>Explore our coached courses!</h2>

<!-- Course table -->
<table id="current-courses-table" class="table table-hover table-clickable-row courses-table">
    <tbody>
    <tr>
        <td class="thumb">
            <a href="/mts4/">
                <img class="thumbnail" src="{{ STATIC_URL }}myselector/images/bigsandbox.jpeg"/>
            </a>
        </td>
        <td class="course-text">
            <a href="/mts4/">
                <nobr>Summer 2013</nobr><br/>
                <nobr>New Sandbox project (mts4)</nobr><br/>    
                <span class="label label-success">ACTIVE</span>
            </a>
        </td>
        <td class="button"> 
            <a href="/mts4/">
                <button class="btn btn-large">Enter Project</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<!-- Course table -->

<!-- Archive table -->
<div id="archived-table-container" class="collapse">
<table id="archived-table" class="table table-hover table-clickable-row courses-table">
    <tbody>
    <tr>
        <td class="thumb">
            <a href="/w13physics/">
                <img class="thumbnail" src="{{ STATIC_URL }}myselector/images/physics4-crop.png"/>
            </a>
        </td>
        <td class="course-text">
            <a href="/w13physics/">
                <nobr>Winter Term 2013</nobr><br/>
                <nobr>Physics 135, 235, 140, 240</nobr><br/>    
                <span class="label label-warning">RETIRED</span>
            </a>
        </td>
        <td class="button">
            <a href="/w13physics/">
                <button class="btn btn-large">Enter Archive</button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <a href="/f12physics/">
                <img class="thumbnail" src="{{ STATIC_URL }}myselector/images/physics2-crop.png"/>
            </a>
        </td>
        <td class="course-text">
            <a href="/f12physics/">
                <nobr>Fall Term 2012</nobr><br/>
                <nobr>Physics 135, 235, 140, 240</nobr><br/>
                <span class="label label-warning">RETIRED</span>
            </a>
        </td>
        <td class="button">
            <a href="/f12physics/">
                <button class="btn btn-large">Enter Archive</button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <a href="/s12physics/">
                <img class="thumbnail" src="{{ STATIC_URL }}myselector/images/physics1-crop.jpg"/>
            </a>
        </td>
        <td class="course-text">
            <a href="/s12physics/">
                <nobr>Spring Term 2012</nobr><br/>
                <nobr>Physics 135, 235, 140, 240</nobr><br/>
                <span class="label label-warning">RETIRED</span>
            </a>
        </td>
        <td class="button">
            <a href="/s12physics/">
                <button class="btn btn-large">Enter Archive</button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="thumb">
            <a href="/w12physics/">
                <img class="thumbnail" src="{{ STATIC_URL }}myselector/images/physics3-crop.png"/>
            </a>
        </td>
        <td class="course-text">
            <a href="/w12physics/">
                <nobr>Winter Term 2012</nobr><br/>
                <nobr>Physics 135, 235, 140, 240</nobr><br/>
                <span class="label label-warning">RETIRED</span>
            </a>
        </td>
        <td class="button">
            <a href="/w12physics/">
                <button class="btn btn-large">Enter Archive</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div id="archived-button-container">
    <button class="btn btn-show btn-link" data-target="#archived-table-container" data-toggle="collapse">
    View Archived Courses&hellip;</button>
    <button class="btn btn-hide btn-link" data-target="#archived-table-container" data-toggle="collapse">
    Hide Archived Courses&hellip;</button>
</div>
<!-- Archive table -->
</div>

<div id="courses-info" class="span3">
    <div class="well">[PLACEHOLDER]<br/>
        <h5><i>E2Coach helps you succeed in your physics course by providing:</i></h5>
        <ul>
            <li>Expert advice</li>
            <li>Advice from students like you</li>
            <li>Stats from your class </li>
        </ul>
    </div>
{% endblock %}
