{% extends 'new_base.html' %}


{% block head_extra %}
    <!--
    -->
{% endblock %}


{% block content %}

<!-- Central content table -->
<table border='0' style='border-collapse:collapse;' id='content_table'>
    <tr>
        <td style='padding: 10px 20px 10px 20px;'>

<!-- Course picking table -->
<table width='100%' border='0'>
    <tr><td id='pick_header'>
        <h2>Explore our coached courses!</h2>
    </td></tr>
    <tr><td>

<!-- Course table -->
<table width='100%' border='0' id='courses_table'>
    <tr>
        <td align='center' valign='center'>
        <img src="/static/myselector/images/physics4.png">
        </td>
        <td class='course_text' valign='center'>
            <nobr>Winter Term 2013</nobr><br>
            <nobr>University of Michigan</nobr><br>
            <nobr>Physics 135, 235, 140, 240</nobr>
        </td>
        <td valign='center' align='center' class='note'>
            <nobr><font color='red'>RETIRED <br> (But explore the messages) </font></nobr><br>
        </td>
        <td valign='center' align='right'>
            &nbsp; 
            <a href ="/w13physics/"><img src="/static/myselector/images/museum.png"/></a>
        </td>
    </tr>
    <tr>
        <td align='center' valign='center'>
        <img src="/static/myselector/images/physics2.png">
        </td>
        <td class='course_text' valign='center'>
            <nobr>Fall Term 2012</nobr><br>
            <nobr>University of Michigan</nobr><br>
            <nobr>Physics 135, 235, 140, 240</nobr>
        </td>
        <td valign='center' align='center' class='note'>
            <nobr><font color='red'>RETIRED <br> (But explore the messages) </font></nobr><br>
        </td>
        <td valign='center' align='right'>
            &nbsp; 
            <a href ="/f12physics/"><img src="/static/myselector/images/museum.png"/></a>
        </td>
    </tr>
    <tr>
        <td align='center' valign='center'>
        <img src="/static/myselector/images/physics1.jpg">
        </td>
        <td class='course_text' valign='center'>
            <nobr>Spring Term 2012</nobr><br>
            <nobr>University of Michigan</nobr><br>
            <nobr>Physics 135, 235, 140, 240</nobr>
        </td>
        <td valign='center' align='center' class='note'>
            <nobr><font color='red'>RETIRED <br> (But explore the messages) </font></nobr><br>
        </td>
        <td valign='center' align='right'>
        <a href ="/s12physics/"><img src="/static/myselector/images/museum.png"/></a>
        </td>
    </tr>
    <tr>
        <td align='center' valign='center'>
        <img src="/static/myselector/images/physics3.png">
        </td>
        <td class='course_text' valign='center'>
            <nobr>Winter Term 2012</nobr><br>
            <nobr>University of Michigan</nobr><br>
            <nobr>Physics 135, 235, 140, 240</nobr>
        </td>
        <td valign='center' align='center' class='note'>
            <nobr><font color='red'>RETIRED <br> (But explore the messages) </font></nobr><br>
        </td>
        <td valign='center' align='right'>
        <a href ="/w12physics/"><img src="/static/myselector/images/museum.png"/></a>
        </td>
    </tr>
</table>
<!-- Course table -->

    </td></tr>
</table>
<!-- Course picking table -->

        </td>
    </tr>
</table>
<!-- Central content table -->

{% endblock %}
